.hero 
	.age
	.hero__preload-mobile
		.body-hero__footer 
			.body-hero__name 
				img(src="images/hero/name-white.png", alt="alt")
			.body-hero__date в кино с 9 ноября
	.hero__body.body-hero.hidden 
		.body-hero__title(data-aos="fade-left" data-aos-delay="0") 
		.body-hero__subtitle(data-aos="fade-left" data-aos-delay="100") Насколько идеален ваш партнер? И бывают ли вообще отношения идеальными? Ищем ответы на эти вопросы вместе с психологом и с помощью нашего теста.
		.body-hero__text 
			p(data-aos="fade-left" data-aos-delay="200") Часто ли вы задумываетесь о том, какими бы были <b>ваши идеальные отношения</b>? Или мечтаете хотя бы чуточку переделать партнера, чтобы он стал больше похож на ваш воображаемый идеал?
			p(data-aos="fade-left" data-aos-delay="300") Скорее всего, хотя бы однажды вас посещали такие мысли. Это вполне объяснимо: у каждого из нас есть свои представления об отношениях, сформированные романтическими фильмами, книгами и просто окружением. И как <b>хочется порой подогнать под них любимого человека</b>, чтобы он был замечательным, умным и надежным.
			p(data-aos="fade-left" data-aos-delay="400") А между тем, если бы вдруг это стало реальностью, возможно, <b>вы бы скорее испугались, чем обрадовались</b>. Именно так происходит <b>в напряженном триллере «Синдром»</b> с Оксаной Акиньшиной и Кириллом Кяро в главных ролях, который выходит в прокат 9 ноября.
		.body-hero__footer
			.body-hero__name(data-aos="fade-left" data-aos-delay="500")  
				img(src="images/hero/name.png", alt="alt")
			.body-hero__date(data-aos="fade-left" data-aos-delay="600")  в кино с 9 ноября
			.hero__arrow-wrapper.hero__arrow-wrapper-mob
				a(href="#content").hero__arrow.scroll-to 
	.hero__arrow-wrapper.hero__arrow-wrapper-desk
		a(href="#content").hero__arrow.scroll-to 