.hero 
	.hero__preload-mobile
		.body-hero__footer 
			.body-hero__name 
				img(src="images/hero/name-white.png", alt="alt")
			.body-hero__date в кино с 9 ноября
	.hero__body.body-hero.hidden 
		.body-hero__title 
			img(src="images/hero/title.png", alt="alt")
		.body-hero__subtitle Насколько идеален ваш партнер? И бывают ли вообще отношения идеальными? Ищем ответы на эти вопросы вместе с психологом и с помощью нашего теста.
		.body-hero__text 
			p Часто ли вы задумываетесь о том, какими бы были ваши идеальные отношения? Или мечтаете хотя бы чуточку переделать партнера, чтобы он стал больше похож на ваш воображаемый идеал?
			p Скорее всего, хотя бы однажды вас посещали такие мысли. Это вполне объяснимо: у каждого из нас есть свои представления об отношениях, сформированные романтическими фильмами, книгами и просто окружением. И как хочется порой подогнать под них любимого человека, чтобы он был замечательным, умным и надежным.
			p А между тем, если бы вдруг это стало реальностью, возможно, вы бы скорее испугались, чем обрадовались. Именно так происходит в напряженном триллере «Синдром» с Оксаной Акиньшиной и Кириллом Кяро в главных ролях, который выходит в прокат 9 ноября.
		.body-hero__footer 
			.body-hero__name 
				img(src="images/hero/name.png", alt="alt")
			.body-hero__date в кино с 9 ноября
	a(href="#content").hero__arrow.scroll-to 